<h1>Transaction Page</h1>

<% @transactions.each do |transaction| %>
  <p><%= transaction.name %></p>
  <p><%= transaction.amount %></p>
<% end %>

<%= link_to 'Create transaction', new_transaction_path %>