<h1>Create new transaction</h1>


<% if @transactions.present? %>
  <% @transactions.each do |transaction| %>
    <p><%= transaction.name %></p>
    <p><%= transaction.amount %></p>
  <% end %>
<% else %>
  <p>No transactions yet.</p>
<% end %>

<%= render "form", transaction: @transaction %>